/* General Resets, Main reference */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Makes NAV stay */
nav {
    margin-left: auto;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

/* Style auth buttons ACTUALLY NAV Buttons */
.auth-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.auth-buttons button {
    padding: 10px 20px;
    border: 1px solid #333;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 120px;
    text-align: center;
}

.auth-buttons img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

/** Kit Builder **/
.kit-builder {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.compatibility-checker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fbb1ab;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.builder-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.builder-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.builder-item button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.builder-item button:hover {
    background-color: #ff6f61;
}

.total-cost {
    text-align: right;
    padding: 15px;
    background-color: #e8f5e9;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

/** Footer **/
footer {
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
}

footer .footer-columns ul {
    list-style: none;
    padding: 0;
}

footer .footer-columns li {
    margin: 10px 0;
}
