
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    margin-left: auto;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.auth-buttons button {
    padding: 10px 20px;
    border: 1px solid #333;
    background: none;
    cursor: pointer;
    height: 45px;
    width: 120px;
}

.camera-selection {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.filter-group {
    flex: 1 1 200px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-group h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.filter-group ul {
    list-style: none;
    padding: 0;
}

.filter-group li {
    margin-bottom: 10px;
}

.camera-list {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.camera-list h2 {
    margin-bottom: 10px;
}

#camera-results {
    padding: 10px;
    border: 1px dashed #ccc;
    text-align: center;
    font-size: 16px;
}
.camera-item {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.camera-item h3 {
    margin-bottom: 10px;
}

.camera-item p {
    margin: 5px 0;
}

footer {
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
}
